@font-face
{
    font-family: weddingFont;
    src: url('yDk0iw76.ttf');
}

body{
    background: #fff;
    font-family: "weddingFont","幼圆", "仿宋", "Helvetica Rounded", Arial, sans-serif;
}


.center{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}

.section-bg{
    z-index: 2;
    background: url("../image/2.png") no-repeat center center;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    color:#fff;
}

/*.page1-bg{*/
    /*background: url("../image/1.png") no-repeat center center;*/
/*}*/

.page1-flower{
    z-index: 5;
    background: url(../image/1-flower.png) no-repeat center center;
    width: 300px;
    height: 300px;
}

.active .page1-flower-rotate{
    animation-name: rotate;
    -webkit-animation-name: rotate;
    animation-delay:500ms;/*动画延迟时间*/
    -webkit-animation-delay:500ms;/*动画延迟时间*/
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

.page1-cover{
    z-index: 4;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.active .page1-cover-rotate{
    animation-name: reverseRotate;
    -webkit-animation-name: reverseRotate;
    animation-delay:500ms;/*动画延迟时间*/
    -webkit-animation-delay:500ms;/*动画延迟时间*/
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

.page1-title{
    text-align: center;
    width:100%;
    font-size: 1.5rem;
    color:#fff;
    position: absolute;
    top:0%;
}

.active .page1-title-enlarge{
    animation-name: enlarge;
    -webkit-animation-name: enlarge;
    animation-delay:0ms;/*动画延迟时间*/
    -webkit-animation-delay:0ms;/*动画延迟时间*/
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.page1-date{
    text-align: center;
    width:100%;
    font-size: 1rem;
    color:#fff;
    position: absolute;
    bottom:16%;
}

.active .page1-date-up{
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-delay:2s;/*动画延迟时间*/
    -webkit-animation-delay:2s;/*动画延迟时间*/
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
}

.page1-name{
    text-align: center;
    width:100%;
    font-size: 1rem;
    color:#fff;
    position: absolute;
    bottom:8%;
}

.active .page1-name-up{
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-delay:2.5s;/*动画延迟时间*/
    -webkit-animation-delay:2.5s;/*动画延迟时间*/
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
}

.page1-name>span{
    color:lightpink;
}

.page1-content{
    text-align: center;
    width:100%;
    font-size: 1.2rem;
    color:#fff;
    position: absolute;
    bottom:0%;
}

.active .page1-content-up{
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-delay:3s;/*动画延迟时间*/
    -webkit-animation-delay:3s;/*动画延迟时间*/
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
}

/*.page2-bg {*/
    /*background: url("../image/2.png") no-repeat center center;*/
/*}*/

.page2-month {
    width: 4%;
    text-align: center;
    font-size: 0.8rem;
    position: absolute;
    top: 4.2%;
    left: 5.8%;
}

.page2-svg{
    z-index: 4;
    position: relative;
    top: -20px;
}

.page2-context{
    font-size: 0.8rem;
    width: 70%;
    margin: 0 15%;
    text-align: right;
    line-height: 2rem;
    z-index:4;
}

.page-2-heart-1{
    width: 100px;
    position: absolute;
    top: 120px;
    left: 85px;
    transform: rotate(-15deg) scale(0,0);
}

.active .page-2-heart-1-jump{
    animation-name: jump;
    -webkit-animation-name: jump;
    animation-delay:1s;/*动画延迟时间*/
    -webkit-animation-delay:1s;/*动画延迟时间*/
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

.page-2-heart-2{
    width: 200px;
    position: absolute;
    top: 260px;
    left: -20px;
    transform: rotate(30deg) scale(0,0);
}

.active .page-2-heart-2-jump{
    animation-name: jump2;
    -webkit-animation-name: jump2;
    animation-delay:2s;/*动画延迟时间*/
    -webkit-animation-delay:2s;/*动画延迟时间*/
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

/*.page3-bg{*/
    /*background: url("../image/3.png") no-repeat center center;*/
/*}*/

.page3-man{
    width: 45%;
    position: absolute;
    right: 15%;
    bottom: 0%;
    border-radius: 10px;
}

.page3-woman{
    width: 45%;
    position: absolute;
    left: 15%;
    border-radius: 10px;
}

.page3-left-word{
    position: absolute;
    right: 20%;
    top:10%
}

.page3-right-word{
    position: absolute;
    left: 20%;
    bottom:10%
}

.page3-left-word>div,.page3-right-word>div{
    font-size: 1rem;
    width:1.2rem;
    text-align: center;
}

/*.page4-bg{*/
    /*background: url("../image/4.png") no-repeat center center;*/
/*}*/

.page4-up{
    width: 90%;
    position: absolute;
    top: 10%;
    left: 5%;
}

.page4-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    width: 80%;
    text-align: center;
}

.page4-down{
    width: 90%;
    position: absolute;
    bottom: 10%;
    left: 5%;
}

/*.page5-bg{*/
    /*background: url("../image/5.png") no-repeat center center;*/
/*}*/

.page5-up{
    position: absolute;
    top: 10%;
    width: 90%;
    left: 0;
    margin: 0 5%;
}

.page5-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    width: 80%;
    text-align: center;
}

.page5-left{
    position: absolute;
    left: 5%;
    bottom: 10%;
    width: 43%;
}

.page5-right{
    position: absolute;
    right: 5%;
    bottom: 10%;
    width: 43%;
}

/*.page6-bg{*/
    /*background: url("../image/6.png") no-repeat center center;*/
/*}*/

.page6-up{
    position: absolute;
    top: 10%;
    width: 90%;
    left: 0;
    margin: 0 5%;
}

.page6-text{
    width:10%
}

.page6-text>div:nth-child(1){
    position: absolute;
    left: 10%;
    bottom: 15%;
}

.page6-text>div:nth-child(2){
    position: absolute;
    left: 20%;
    bottom: 25%;
}

.page6-right{
    position: absolute;
    right: 5%;
    bottom: 10%;
    width: 55%;
}

/*.page7-bg{*/
    /*background: url("../image/7.png") no-repeat center center;*/
/*}*/

.page8-title{
    color:#fff;
    font-size: 1.5rem;
    text-align: center;
}

.page8-input{
    position: absolute;
    height: 2rem;
    line-height: 2rem;
    font-size: 0.8rem;
    width: 60%;
    padding: 0 2%;
    margin: 0 18%;
    -webkit-appearance: none;
    border: 1px solid #fff;
    background: #bbe3d8;
    color: #fff;
    border-radius: 5px;
}

.page8-input:nth-child(2){
    top: 15%;
}

.page8-input:nth-child(3){
    top: 30%;
}

.page8-input:nth-child(4){
    top: 45%;
}

.page8-button{
    position: absolute;
    top:60%;
    height: 2rem;
    line-height: 2rem;
    font-size: 0.8rem;
    width: 66%;
    margin: 0 17%;
    -webkit-appearance: none;
    border: 1px solid #fff;
    background: #bbe3d8;
    color: #fff;
    border-radius: 20px;
    text-align: center;
}

.page8-contact{
    position: absolute;
    top: 80%;
    width: 70%;
    margin: 0 15%;
    height: 2rem;
    line-height: 2rem;
    font-size: 0.8rem;
}

.page8-contact>div{
    -webkit-appearance: none;
    border: 1px solid #fff;
    background: #bbe3d8;
    color: #fff;
    border-radius: 20px;
    text-align: center;
    margin:0 2%;
}

div.page9-location{
    width: 70%;
    height: 55%;
    top: 30%;
}

div.page9-time{
    top: 70%;
    width: 100%;
}

div.page9-address{
    top: 80%;
    width: 100%;
}

.falling-leaves {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.leaf-scene {
    position: absolute;
    top: 0;
    left: -100px;
    bottom: 0;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.leaf-scene div {
    position: absolute;
    top: 0;
    left: 0;
    width: 47px;
    height: 17px;
    background: url(./../image/sy.png) no-repeat;
    background-size: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

.center-obj {
    width: 320px;
    height: 420px;
    position: absolute;
    top: 48%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.stage-3d{
    perspective: 200px;
    -webkit-perspective: 200px;
}

.box{
    display: box;
    display: -webkit-box;
}

.box-1{
    -webkit-box-flex: 1;
    box-flex:1;
}


.align-center{
    text-align: center;
}

.bottom-icon{
    z-index: 10;
    background: url("../image/up.png") no-repeat center 0;
    background-size: 100%;
    width: 10%;
    height: 100%;
    position: absolute;
    top: 90%;
    left: 45%;
}

input::-webkit-input-placeholder{
    color:#fff;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#fff;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#fff;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
    color:#fff;
}


@media only screen and (max-device-width: 414px) and (min-device-width: 412px){
    .center-obj {
        zoom: 1.3;
    }
    html,body{
        font-size:18px ;
    }
}
@media only screen and (max-device-width: 411px) and (min-device-width: 375px){
    .center-obj {
        zoom: 1.2;
    }
    html,body{
        font-size:16px ;
    }
}
@media only screen and (max-device-width: 374px) and (min-device-width: 360px){
    .center-obj {
        zoom: 1.1;
    }
    html,body{
        font-size:14px ;
    }
}

@media only screen and (max-device-width: 359px) and (min-device-width: 320px){
    .center-obj {
        zoom: 1;
    }
    html,body{
        font-size:12px ;
    }
}

/*animate*/
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px)
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,-50%,0);
        transform: translate3d(0,-50%,0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

.fadeInUp{
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}


@-webkit-keyframes rotate {
    0% {
        opacity: 0;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: translate3d(-50%,-50%,0) rotateZ(0deg);
        transform: translate3d(-50%,-50%,0) rotateZ(0deg);
    }
    100% {
        opacity: 1;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: translate3d(-50%,-50%,0) rotateZ(360deg);
        transform: translate3d(-50%,-50%,0) rotateZ(360deg);
    }
}

@keyframes rotate {
    0% {
        opacity: 0;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: translate3d(-50%,-50%,0) rotateZ(0deg);
        transform: translate3d(-50%,-50%,0) rotateZ(0deg);
    }
    100% {
        opacity: 1;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: translate3d(-50%,-50%,0) rotateZ(360deg);
        transform: translate3d(-50%,-50%,0) rotateZ(360deg);
    }
}

@-webkit-keyframes reverseRotate {
    0% {
        opacity: 0;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: translate3d(-50%,-50%,0) scale(0,0) rotateZ(0deg);
        transform: translate3d(-50%,-50%,0) scale(0,0) rotateZ(0deg);
    }
    100% {
        opacity: 1;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: translate3d(-50%,-50%,0) scale(1,1) rotateZ(-360deg);
        transform: translate3d(-50%,-50%,0) scale(1,1) rotateZ(-360deg);
    }
}

@keyframes reverseRotate {
    0% {
        opacity: 0;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: translate3d(-50%,-50%,0) scale(0,0) rotateZ(0deg);
        transform: translate3d(-50%,-50%,0) scale(0,0) rotateZ(0deg);
    }
    100% {
        opacity: 1;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: translate3d(-50%,-50%,0) scale(1,1) rotateZ(-360deg);
        transform: translate3d(-50%,-50%,0) scale(1,1) rotateZ(-360deg);
    }
}

@-webkit-keyframes enlarge {
    0% {
        -webkit-transform: translate3d(0,-50%,0) scale(0,0);
        transform: translate3d(0,-50%,0) scale(0,0);
    }
    70% {
        -webkit-transform: translate3d(0,0,0) scale(1,1);
        transform: translate3d(0,0,0) scale(1,1);
    }
    65%{
        -webkit-transform:scale(1.2,1.2);
        transform:scale(1.2,1.2);
    }
    75%{
        -webkit-transform:scale(1,1);
        transform:scale(1,1);
    }
    85%{
        -webkit-transform:scale(1.2,1.2);
        transform:scale(1.2,1.2);
    }
    100%{
        -webkit-transform:scale(1,1);
        transform:scale(1,1);
    }
}

@keyframes enlarge {
    0% {
        -webkit-transform: translate3d(0,-50%,0) scale(0,0);
        transform: translate3d(0,-50%,0) scale(0,0);
    }
    50% {
        -webkit-transform: translate3d(0,0,0) scale(1,1);
        transform: translate3d(0,0,0) scale(1,1);
    }
    65%{
        -webkit-transform:scale(1.2,1.2);
        transform:scale(1.2,1.2);
    }
    75%{
        -webkit-transform:scale(1,1);
        transform:scale(1,1);
    }
    85%{
        -webkit-transform:scale(1.2,1.2);
        transform:scale(1.2,1.2);
    }
    100%{
        -webkit-transform:scale(1,1);
        transform:scale(1,1);
    }
}

@-webkit-keyframes jump {
    0%{
        transform: rotate(-15deg) rotateZ(0deg) scale(.5,.5);
        -webkit-transform: rotate(-15deg) rotateZ(0deg) scale(.5,.5);
    }

    15%{
        transform: rotate(-15deg) rotateZ(-10deg) scale(.6,.6);
        -webkit-transform: rotate(-15deg) rotateZ(-10deg) scale(.6,.6);
    }

    30% {
        transform: rotate(-15deg) rotateZ(10deg) scale(.8,.8);
        -webkit-transform: rotate(-15deg) rotateZ(10deg) scale(.8,.8);
    }

    45% {
        transform: rotate(-15deg) rotateZ(-10deg) scale(1,1);
        -webkit-transform: rotate(-15deg) rotateZ(-10deg) scale(1,1);;
    }

    60%{
        transform: rotate(-15deg) rotateZ(10deg) scale(1.1,1.1);;
        -webkit-transform: rotate(-15deg) rotateZ(10deg) scale(1.1,1.1);;
    }

    75% {
        transform: rotate(-15deg) rotateZ(-10deg) scale(1.2,1.2);
        -webkit-transform: rotate(-15deg) rotateZ(-10deg) scale(1.2,1.2);
    }

    90% {
        transform: rotate(-15deg) rotateZ(10deg) scale(1.1,1.1);
        -webkit-transform: rotate(-15deg) rotateZ(10deg) scale(1.1,1.1);
    }

    100%{
        transform: rotate(-15deg) rotateZ(0deg) scale(1,1);
        -webkit-transform: rotate(-15deg) rotateZ(0deg) scale(1,1);
    }
}

@keyframes jump {
    0%{
        transform: rotate(-15deg) rotateZ(0deg) scale(.5,.5);
        -webkit-transform: rotate(-15deg) rotateZ(0deg) scale(.5,.5);
    }

    15%{
        transform: rotate(-15deg) rotateZ(-10deg) scale(.6,.6);
        -webkit-transform: rotate(-15deg) rotateZ(-10deg) scale(.6,.6);
    }

    30% {
        transform: rotate(-15deg) rotateZ(10deg) scale(.8,.8);
        -webkit-transform: rotate(-15deg) rotateZ(10deg) scale(.8,.8);
    }

    45% {
        transform: rotate(-15deg) rotateZ(-10deg) scale(1,1);
        -webkit-transform: rotate(-15deg) rotateZ(-10deg) scale(1,1);;
    }

    60%{
        transform: rotate(-15deg) rotateZ(10deg) scale(1.1,1.1);;
        -webkit-transform: rotate(-15deg) rotateZ(10deg) scale(1.1,1.1);;
    }

    75% {
        transform: rotate(-15deg) rotateZ(-10deg) scale(1.2,1.2);
        -webkit-transform: rotate(-15deg) rotateZ(-10deg) scale(1.2,1.2);
    }

    90% {
        transform: rotate(-15deg) rotateZ(10deg) scale(1.1,1.1);
        -webkit-transform: rotate(-15deg) rotateZ(10deg) scale(1.1,1.1);
    }

    100%{
        transform: rotate(-15deg) rotateZ(0deg) scale(1,1);
        -webkit-transform: rotate(-15deg) rotateZ(0deg) scale(1,1);
    }
}

@-webkit-keyframes jump2 {
    0%{
        transform: rotate(30deg) rotateZ(0deg) scale(.5,.5);
        -webkit-transform: rotate(30deg) rotateZ(0deg) scale(.5,.5);
    }

    15%{
        transform: rotate(30deg) rotateZ(10deg) scale(.6,.6);
        -webkit-transform: rotate(30deg) rotateZ(10deg) scale(.6,.6);
    }

    30% {
        transform: rotate(30deg) rotateZ(-10deg) scale(.8,.8);
        -webkit-transform: rotate(30deg) rotateZ(-10deg) scale(.8,.8);
    }

    45% {
        transform: rotate(30deg) rotateZ(10deg) scale(1,1);
        -webkit-transform: rotate(30deg) rotateZ(10deg) scale(1,1);
    }

    60%{
        transform: rotate(30deg) rotateZ(-10deg) scale(1.1,1.1);
        -webkit-transform: rotate(30deg) rotateZ(-10deg) scale(1.1,1.1);
    }

    75% {
        transform: rotate(30deg) rotateZ(10deg) scale(1.2,1.2);
        -webkit-transform: rotate(30deg) rotateZ(10deg) scale(1.2,1.2);
    }

    90% {
        transform: rotate(30deg) rotateZ(-10deg) scale(1.1,1.1);
        -webkit-transform: rotate(30deg) rotateZ(-10deg) scale(1.1,1.1);
    }

    100%{
        transform: rotate(30deg) rotateZ(0deg) scale(1,1);
        -webkit-transform: rotate(30deg) rotateZ(0deg) scale(1,1);
    }
}

@keyframes jump2 {
    0%{
        transform: rotate(30deg) rotateZ(0deg) scale(.5,.5);
        -webkit-transform: rotate(30deg) rotateZ(0deg) scale(.5,.5);
    }

    15%{
        transform: rotate(30deg) rotateZ(10deg) scale(.6,.6);
        -webkit-transform: rotate(30deg) rotateZ(10deg) scale(.6,.6);
    }

    30% {
        transform: rotate(30deg) rotateZ(-10deg) scale(.8,.8);
        -webkit-transform: rotate(30deg) rotateZ(-10deg) scale(.8,.8);
    }

    45% {
        transform: rotate(30deg) rotateZ(10deg) scale(1,1);
        -webkit-transform: rotate(30deg) rotateZ(10deg) scale(1,1);
    }

    60%{
        transform: rotate(30deg) rotateZ(-10deg) scale(1.1,1.1);
        -webkit-transform: rotate(30deg) rotateZ(-10deg) scale(1.1,1.1);
    }

    75% {
        transform: rotate(30deg) rotateZ(10deg) scale(1.2,1.2);
        -webkit-transform: rotate(30deg) rotateZ(10deg) scale(1.2,1.2);
    }

    90% {
        transform: rotate(30deg) rotateZ(-10deg) scale(1.1,1.1);
        -webkit-transform: rotate(30deg) rotateZ(-10deg) scale(1.1,1.1);
    }

    100%{
        transform: rotate(30deg) rotateZ(0deg) scale(1,1);
        -webkit-transform: rotate(30deg) rotateZ(0deg) scale(1,1);
    }
}

.animate-1s {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.backwards{
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}

.forwards{
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.both{
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}
